{# Standard Modal Template
   Usage: {% include 'standard_modal.html' with context %}
   Variables needed:
   - modal_id: unique modal ID
   - modal_title: title with icon
   - modal_size: '' (default), 'modal-lg', 'modal-xl'
   - modal_body_content: HTML content for modal body
   - modal_footer_buttons: List of button configurations
#}

<div class="modal fade tennis-modal" id="{{ modal_id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog {{ modal_size if modal_size else '' }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_title|safe }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ modal_body_content|safe }}
            </div>
            {% if modal_footer_buttons %}
            <div class="modal-footer">
                {% for button in modal_footer_buttons %}
                <button type="button" 
                        class="btn {{ button.class }}" 
                        {% if button.dismiss %}data-bs-dismiss="modal"{% endif %}
                        {% if button.onclick %}onclick="{{ button.onclick }}"{% endif %}
                        {% if button.id %}id="{{ button.id }}"{% endif %}>
                    {{ button.content|safe }}
                </button>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
